@import url("bootstrap/bootstrap.min.css");
@import url("fontawesome/css/all.min.css");

h1 {
	color: tomato;
}

td {
    width: 125px;
    height: 125px;
    text-align: center;
    background-color: steelblue;
    color: #fff;
    border: 1px solid white !important;
    border-radius: 4px;
    margin: 3px;
}

.top-rows {
  margin-top: 20px;
}

.w500 {
	width: 500px;
}

.w300 {
	width: 300px;
}

.h100 {
	height: 100px;
}

.pic-rounder {
	border-radius: 20px;
}

.jumbotron {
  background: none;
}

.rps-pics {
  height: 250px;
  width: 250px;
}

.invisible {
  display: none;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}


.nav > li > a:focus, .nav > li > a:hover {
  background-color: #222222;
}

.dont-click {
  pointer-events: none;
}

.code-logos {
  width: 100px;
  cursor: pointer;
}

.mbot-25 {
  margin-bottom: 25px;
}

.mbot-50 {
  margin-bottom: 50px;
}

.state-name {
  text-transform: capitalize;
}

.almost-up {
  animation-duration: 1200ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation:blink 1200ms infinite; /* Safari and Chrome */
}

@keyframes blink {
    from {
        color:red;
    }
    to {
        color:white;
    }
}
@-webkit-keyframes blink {
    from {
        color:red;
    }
    to {
        color:white;
    }
}

#img_hover {
  position: relative;
}

#my_pic {
  width: 200px;
  border-radius: 100px;
  opacity: 1;
  /*display: block;*/
  transition: .5s ease;
  backface-visibility: hidden;
}

#hover_txt {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 81%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 22px;
}

#img_hover:hover #my_pic {
  opacity: 0.3;
}

#img_hover:hover #hover_txt {
  opacity: 1;
}

#about_me_mobile {
  display: none;
}

#hometron, #homefoot {
	background: url("../images/fields-of-green.jpeg") no-repeat center center fixed;
	background-size: cover;
	margin-bottom: 0px;
}

#biotron, #biofoot {
	background: url("../images/starry-skies.jpeg") no-repeat center center fixed;
	background-size: cover;
	margin-bottom: 0px;
}

#rps {
	margin-top: 80px;
}

#rock-text, #paper-text, #scissor-text {
  position: absolute;
  width: 75%;
  text-align: center;
  top: 125px;
}

#rock, #paper, #scissors, #hover_txt {
  cursor: pointer;
}

#result_card {
  margin-top: 35px;
}

#result_msg {
  color: green;
}

#geonav {
	margin-bottom: 0px;
}

#multi_col5 {
  -moz-column-count: 5;
  -moz-column-gap: 20px;
  -webkit-column-count: 5;
  -webkit-column-gap: 20px;
  column-count: 5;
  column-gap: 20px;
  margin-top: 20px;
}

#multi_col3 {
  -moz-column-count: 3;
  -moz-column-gap: 20px;
  -webkit-column-count: 3;
  -webkit-column-gap: 20px;
  column-count: 3;
  column-gap: 20px;
}

#tablestein {
	margin-left: 26px;
}

#about_link, #home_link {
  text-decoration: none;
  color: #fff;
}

#about_link:hover, #home_link:hover{
  color: #ff8000;
}

#code_container {
  margin-bottom: 50px;
}

#myName {
  font-size: 5em;
}

#myRoles {
  font-size: 2em;
}

#fifteenpuzzle_page {
  margin-top: 50px;
}

/*#tts_logo {
  background: url("../images/tts-logo-transparent.png") no-repeat;
  background-position: fixed;
  background-size: cover;
  height: 320px;
}
*/


@media screen and (max-width: 1200px) {
  #tablestein {
  	margin-left: 0px;
  }
}

@media screen and (max-width: 991px) {
  #tablestein {
  	margin-left: 107px;
  }

  #js_logo {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 755px) {
  #tablestein {
  	margin-left: 0px;
  }
}

@media screen and (max-width: 441px) {
  #about_me_mobile {
    display: inline;
  }
}
